*{
    padding: 0;
    margin: 0;
}

body{
 width: 1200px;
 font-family: 'Montserrat', sans-serif;
 margin: 0 auto;
}

ul{
    padding: 26px 0;
    list-style-type: none;
    text-align: center;
}

.menu-item{
    padding: 0 36px;
display: inline-block;

}


.menu-download{
    padding: 0 25px;
}

.menu-item-link{
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.main-content{
    margin: 0 auto;
display: block;
width: 1145px;
}

.main-image{
  width: 100%;
 height: 789px;
}

.title{
 text-align: center;
 font-weight: 700;
 font-size: 22px;
 line-height: 27px;
 color: #373737;
 margin-bottom: 38px;
 margin-top: 48px;
}

.center{
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 26px;
font-size: 16px;
line-height: 26px;
margin-bottom: 28px;
}

.second{
    margin-bottom: 66px;
}

.main-button{
    color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  padding: 18px 44px;
  background-color: #FF0000;
  border-radius: 4px;
  border: none;
margin: 0 auto;
display: block;
margin-bottom: 150px;
}

.footer{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
letter-spacing: 2.4px;
text-align: right;
margin-bottom: 29px;

}





  


    